{% extends "catalog/base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}
<h1 class="mt-4 mb-4 text-center">Каталог</h1>

<!-- Кнопки для сортировки по категориям -->
<div class="text-center mb-4">
    <h5>Сортировать по категории:</h5>
    <a href="?category_id=" class="btn btn-secondary mx-1 {% if selected_category_id == None %}active{% endif %}">Все категории</a>
    {% for category in categories %}
        <a href="?category_id={{ category.id }}" class="btn btn-secondary mx-1 {% if selected_category_id == category.id %}active{% endif %}">{{ category.name }}</a>
    {% endfor %}
</div>

<!-- Карточки товаров -->
<div class="row row-cols-2 g-4 justify-content-center">
    {% for product in products %}
    <div class="col d-flex justify-content-center">
        <div class="card">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top product-image" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/default_image.png' %}" class="card-img-top product-image" alt="Нет изображения">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text"><strong>Цена: {{ product.price }} ₽</strong></p>
                <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div> <!-- Закрытие row для карточек товаров -->
{% endblock %}
