{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<h1 class="mt-4 mb-4 text-center">Главная</h1>
<!-- Карточки товаров -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in latest_products %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Описание: {{ product.description|slice:":100" }}{% if product.description|length > 100 %}...{% endif %}</p>
                    <p class="card-text"><strong>Цена: {{ product.price }} ₽</strong></p>
                    <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-12">
            <div class="alert alert-warning text-center">Нет доступных продуктов.</div>
        </div>
    {% endfor %}
</div> <!-- Закрытие row для карточек товаров -->
{% endblock %}
