{% extends 'catalog/base.html' %}
{% load product_tags %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">{{ product.name }}</h1>

    <div class="row mt-4">
        <div class="col-md-6 text-center">
            {{ product | product_image | safe }}
        </div>
        <div class="col-md-6">
            <p class="lead"><strong>Описание:</strong> {{ product.description }}</p>
            <p><strong>Цена:</strong> {{ product.price }} руб.</p>
            <p><strong>Категория:</strong> {{ product.category.name }}</p>
            <p><strong>Дата добавления:</strong> {{ product.created_at|date:"d, F Y" }}</p>
            <p><strong>Статус публикации:</strong> {{ product.get_status_display }}</p>
            <p><strong>Создатель:</strong> {{ product.owner }}</p>

            <a href="{% url 'catalog:catalog' %}" class="btn btn-primary mt-3">Назад к каталогу</a>

            {% if request.user == product.owner %}
            <div class="mt-4">
                <a href="{% url 'catalog:update_product' product.id %}" class="btn btn-warning">Редактировать</a>
            {% endif %}
            {% if perms.catalog.can_unpublish_product or request.user == product.owner %}
                <a href="{% url 'catalog:delete_product' product.id %}" class="btn btn-danger">Удалить</a>
                <form action="{% url 'catalog:product_detail' product.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Снять с публикации</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
